</div>
<div  class="terms">By continuing to browse this site you agree that any data submitted by you can be saved into our database
        and we shall not be liable to any network related isuues you encounter browing this site. You also agree
        that any payment made on this site shall not be refunded. Thank you.
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
        <span id="terms-toggle" style="cursor: pointer;">Terms</span><span>&#169; 2020 Adeyinka</span><span>Whykay&#8482;</span><span><a href="/contact">Contact Us</a></span>
</nav>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/scripts/terms.js"></script>
</body>
</html>